name: CD - Deploy to ECS (Terraform)

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag to deploy (e.g. sha-abcdef)"
        required: true

env:
  AWS_REGION: us-east-1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.TF_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.TF_AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}


      - name: Who am I in AWS?
        run: aws sts get-caller-identity

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: infra/terraform/envs/dev
        run: terraform init -reconfigure

      - name: Terraform Apply (Deploy)
        working-directory: infra/terraform/envs/dev
        run: terraform apply -auto-approve -var="image_tag=${{ github.event.inputs.image_tag }}"

      - name: Terraform Outputs
        working-directory: infra/terraform/envs/dev
        run: terraform output
